.vin-section__form {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 22px;
  margin-bottom: 10px;
}

.form__text-btn-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__input {
  padding: 7px;
  font-size: 22px;
  width: -webkit-fill-available;

  border: 2px solid #808080;
  border-radius: 4px;
}

.form__vin-history {
  width: 0;
  height: 0;
  visibility: hidden;
  border-radius: 4px;
}

.form__vin-history--active {
  visibility: visible;
  height: max-content;
  width: inherit;

  position: relative;
  border: 1px solid #000;
  z-index: 1;
  background-color: #fff;
}

.form__vin-history-item {
  padding-bottom: 5px;
}

.form__vin-history-item:last-child {
  padding-bottom: 0;
}

.form__vin-history-btn {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 8px 10px;
}

.form__vin-history-item:hover {
  background-color: rgb(225 219 219);
}

.form__btn {
  padding: 8px;
  font-size: 22px;
  border-radius: 4px;
  background-color: #808080;
  color: #fff;
  border: 2px solid #808080;
  cursor: pointer;
  transition: border-color 0.3s;

  margin-top: 10px;
}

.form__btn:hover {
  border: 2px solid #000;
}

.form__btn:active {
  background-color: #000;
}

.vin-section__last-five-decoded {
  flex-basis: 200px;
  margin-bottom: 30px;
}

.last-five-decoded__title {
  margin: 0 0 10px 0;
}

.last-five-decoded__item {
  margin-bottom: 5px;
  font-size: 18px;
}

.vin-section__results-item {
  margin-bottom: 5px;
  font-size: 18px;
}

.error-message {
  background-color: #f83838da;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .form__text-btn-wrapper {
    flex-direction: row;
  }

  .form__input {
    width: 350px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .form__vin-history {
    width: 350px;
  }

  .form__btn {
    margin-top: 0;
    height: 46px;
  }

  .vin-section__info {
    display: flex;
    gap: 40px;
  }
}
